%body
  %header.navbar.navbar-fixed-top.navbar-inverse
    .container
      %nav
        = link_to root_path , id: 'logo' do
          = image_tag "mentorship.png", size: "50x50"
          = label_tag 'guru4u'
        %ul.nav.navbar-nav.navbar-right
          %li= link_to "Home", root_path, :id => 'home_link'
          %li= link_to "Help", help_path, :id => 'help_link'
          - if logged_in?
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#", :id => 'account_link'}
                Account
                %b.caret
              %ul.dropdown-menu
                %li= link_to "Profile", current_user, :id => 'profile_link'
                %li= link_to "Settings", edit_user_path(current_user), :id => 'settings_link'
                - if current_user.admin
                  %li.divider
                  %li= link_to "Manage Users", users_path, :id => 'manage_users_link'
                %li.divider
                %li
                  = link_to "Log out", logout_path, method: :delete, :id => 'log_out_link'
          - else
            %li= link_to "Log in", login_path, :id => 'log_in_link'
